<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizl.train.member.mapper.MemberMapper">
    <!-- 添加你的映射配置和 SQL 语句 -->
    <select id="count" resultType="int">
        select count(1) from member
    </select>

</mapper>